{% extends "layout.html" %}
{% block title%}Downloading info.{% endblock %} 
{% block head %}
{{ super() }}
<link href="/static/css/get_info.css?{{ timestamp }}" rel="stylesheet">
<script src="/static/js/get_info.js?{{ timestamp }}"></script>
{% endblock %}
{% block content %}
<div class="rounded-edge row text-center">
    <div class="mb-12">
        <h2>Downloading your last.fm scrobbles.</h2>
        <div class="row progress margins" role="progressbar"></div>
        <div class="btn-group margins" role="group">
            <button type="button" class="btn btn-outline-success" id="start-btn">
                <span class="fa-stack fa-fw">
                    <i class="far fa-circle fa-stack-2x"></i>
                    <i class="fas fa-download fa-stack-1x"></i>
                </span>
                Start
            </button>
            <button type="button" class="btn btn-outline-danger">
                <span class="fa-stack fa-fw">
                    <i class="far fa-circle fa-stack-2x"></i>
                    <i class="fas fa-pause fa-stack-1x"></i>
                </span>
                Pause
            </button>
        </div>
        <div class="row hidden" id="get_info_message"></div>
    </div>
</div>
{% endblock %}