{% extends "layout.html" %}
{% block title%}Downloading info.{% endblock %}
{% block head %}
{{ super() }}
<link href="/static/css/get_info.css?{{ timestamp }}" rel="stylesheet">
<script src="/static/js/get_info.js?{{ timestamp }}"></script>
{% endblock %}

{% block content %}
<div class="rounded-edge text-center">
    <div>
        <h1 class="margin">Downloading your last.fm scrobbles.</h1>
        <div class="margin progress" >
            <span id="progress-bar" style="width:0%"></span>
        </div>
        <div class="margin">
            <button type="button" class="btn btn-green" id="start-btn">
                <span class="fa-stack fa-fw">
                    <i class="far fa-circle fa-stack-2x" id="start-btn-circle"></i>
                    <i class="fas fa-download fa-stack-1x"></i>
                </span>
                Start
            </button>
            <button type="button" class="btn btn-red" id="pause-btn" disabled>
                <span class="fa-stack fa-fw">
                    <i class="far fa-circle fa-stack-2x" id="pause-btn-circle"></i>
                    <i class="fas fa-pause fa-stack-1x"></i>
                </span>
                Pause
            </button>
        </div>
        <div class="row hidden" id="get_info_message"></div>
    </div>
</div>
{% endblock %}